*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
}

body, html {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
  scroll-behavior: smooth;
}
